video {
    background: #8e9ba0;
    margin: 0 0 20px 0;
    width: 100%;
    height: 100%;
}

#broadcast {
    position: absolute;
    margin: 10px;
    top: 0px;
}

#url_broadcast {
    /* display: none; */
    margin-left: 10px;
}
